[app]
env = "dev" # dev|beta|prod
debug = true

[mysql]
host = "127.0.0.1"
port = 3306
username = "root"
password = "secret"
database = "test"
charset = "utf8mb4"
collection = "utf8mb4_general_ci"
connTimeout = 10 # 连接超时时间「单位：秒」
maxOpenConns = 20 # 最大连接数
maxIdleConns = 10 # 最大闲置连接数
connMaxLifetime = 3600 # 连接能够被复用的最大生命周期「单位：秒；0：不限」

# mysql muilti configs
# [[mysql]]
# name = "default" # 默认连接的名称
# ...

[postgres]
host = "127.0.0.1"
port = 3306
username = "root"
password = "secret"
database = "test"
connTimeout = 10 # 连接超时时间「单位：秒」
maxOpenConns = 20 # 最大连接数
maxIdleConns = 10 # 最大闲置连接数
connMaxLifetime = 3600 # 连接能够被复用的最大生命周期「单位：秒；0：不限」

# postgres muilti configs
# [[postgres]]
# name = "default" # 默认连接的名称
# ...

[mongo]
host = "127.0.0.1"
port = 27017
# username = "test"
# password = "secret"
timeout = 10 # 连接超时以及后续会话操作超时时间「单位：秒」
poolLimit = 10 # 连接池大小

# mongo muilti configs
# [[mongo]]
# name = "default" # 默认连接的名称
# ...

[redis]
host = "127.0.0.1"
port = 6379
# password = "secret"
# database = 0 # 默认：0
connTimeout = 10 # 连接超时时间「单位：秒」
readTimeout = 10 # 读取超时时间「单位：秒」
writeTimeout = 10 # 写入超时时间「单位：秒」
poolSize = 10 # 连接池大小
poolLimit = 20 # 连接池的最大容量限制
idleTimeout = 3600 # 闲置连接的超时时间「单位：秒；0：不限」

# redis muilti configs
# [[redis]]
# name = "default" # 默认连接的名称
# ...

[email]
host = "smtp.example.com"
port = 25
username = "yiigo@example.com"
password = "secret"

[log]
path = "app.log" # 日志文件
maxSize = 500 # 单位：M
maxBackups = 0 # 最大备份保留数量
maxAge = 0 # 最大备份保留时间，单位：天
compress = false # 备份是否压缩
