[app]
version=1.0
debug=true

[mysql]
host=localhost
port=3306
username=root
password=secret
database=test
charset=utf8mb4
collection=utf8mb4_general_ci
maxOpenConns=20
maxIdleConns=10

; [mysql]
; database=test
; charset=utf8mb4
; collection=utf8mb4_general_ci
; maxOpenConns=20
; maxIdleConns=10
; [mysql.read]
; host=localhost
; port=3306
; username=root
; password=secret
; [mysql.write]
; host=localhost
; port=3306
; username=root
; password=secret

[mongo]
host=localhost
port=27017
; username=test
; password=
timeout=10000
poolLimit=10

; [mongo]
; timeout=10000
; poolLimit=10
; [mongo.read]
; host=localhost
; port=27017
; username=test
; password=
; [mongo.write]
; host=localhost
; port=27017
; username=test
; password=

[redis]
host=localhost
port=6379
; password=
; database=0
connTimeout=1000
readTimeout=1000
writeTimeout=1000
maxIdleConn=10
maxActiveConn=20
idleTimeout=60000
testOnBorrow=0
poolWait=false

; [redis]
; connTimeout=1000
; readTimeout=1000
; writeTimeout=1000
; maxIdleConn=10
; maxActiveConn=20
; idleTimeout=60000
; testOnBorrow=0
; poolWait=false
; [redis.read]
; host=localhost
; port=6379
; password=
; database=0
; [redis.write]
; host=localhost
; port=6379
; password=
; database=0

[email]
title=yiigo
host=smtp.example.com
port=25
username=yiigo@example.com
password=secret

[spider]
certdir=certs
cookiedir=cookies

[log]
path=app.log
[log.rotate]
maxSize=500
maxBackups=0
maxAge=0
compress=false