[app]
env = "dev" # dev|beta|prod
version = "1.0"
debug = true

[session]
secret = "N0awmAuS2OziVFu^9!*0LY7MeCRgQ&z0"

[mysql]
host = "127.0.0.1"
port = 3306
username = "root"
password = "secret"
database = "test"
charset = "utf8mb4"
collection = "utf8mb4_general_ci"
maxOpenConns = 20
maxIdleConns = 10

# mysql muilti configs
# [[mysql]]
# name = default
# ...

[mongo]
host = "127.0.0.1"
port = 27017
# username = "test"
# password = "secret"
timeout = 10000
poolLimit = 10

# mongo muilti configs
# [[mongo]]
# name = default
# ...

[redis]
host = "127.0.0.1"
port = 6379
# password = "secret"
# database = 0
connTimeout = 1000
readTimeout = 1000
writeTimeout = 1000
maxIdleConn = 10
maxActiveConn = 20
maxConnLifetime = 0
idleTimeout = 60000
testOnBorrow = 0
poolWait = false

# redis muilti configs
# [[redis]]
# name = default
# ...

[email]
host = "smtp.example.com"
port = 25
username = "yiigo@example.com"
password = "secret"

[spider]
certdir = "certs"
cookiedir = "cookies"

[log]
path = "app.log"
maxSize = 500
maxBackups = 0
maxAge = 0
compress = false