[app]
version=1.0
debug=true

[mysql]
host=localhost
port=3306
username=root
password=secret
database=test
charset=utf8mb4
collection=utf8mb4_general_ci
maxOpenConns=20
maxIdleConns=10

; [mysql]
; database=test
; charset=utf8mb4
; collection=utf8mb4_general_ci
; maxOpenConns=20
; maxIdleConns=10
; [mysql.read]
; host=localhost
; port=3306
; username=root
; password=secret
; [mysql.write]
; host=localhost
; port=3306
; username=root
; password=secret

[mongo]
host=localhost
port=27017
; username=test
; password=
timeout=10000
poolLimit=10

; [mongo]
; timeout=10000
; poolLimit=10
; [mongo.read]
; host=localhost
; port=27017
; username=test
; password=
; [mongo.write]
; host=localhost
; port=27017
; username=test
; password=

[redis]
host=localhost
port=6379
; password=
; database=0
connectTimeout=10000
readTimeout=10000
writeTimeout=10000
poolMinActive=10
poolMaxActive=20
poolIdleTimeout=60000

; [redis]
; connectTimeout=10000
; readTimeout=10000
; writeTimeout=10000
; poolMinActive=10
; poolMaxActive=20
; poolIdleTimeout=60000
; [redis.read]
; host=localhost
; port=6379
; password=
; database=0
; [redis.write]
; host=localhost
; port=6379
; password=
; database=0

[email]
title=yiigo
host=smtp.example.com
port=25
username=yiigo@example.com
password=secret

[code]
ok=0
err=-1

[spider]
certdir=certs
cookiedir=cookies

[log]
path=app.log
[log.rotate]
maxSize=500
maxBackups=0
maxAge=0