[app]
version=1.0
debug=true

[mysql]
host=localhost
port=3306
username=test
password=
maxOpenConns=20
maxIdleConns=10
database=test
charset=utf8mb4
prefix=yii_

[mongo]
host=localhost
port=27017
; username=test
; password=
poolLimit=10

[redis]
host=localhost
port=6379
prefix=yii
connectTimeout=10000
readTimeout=10000
writeTimeout=10000
poolMinActive=10
poolMaxActive=20
poolIdleTimeout=60000

[email]
host=smtp.example.com
port=587
username=yiigo@example.com
password=xxxxxxxxx
title=yiigo

[spider]
certdir=certs
cookiedir=cookies
captchadir=captcha
appcode=794434d1937e4f438223b37fd7951d54