[app]
env = "dev" # dev|beta|prod
version = "1.0"
debug = true

[session]
secret = "N0awmAuS2OziVFu^9!*0LY7MeCRgQ&z0"

[mysql]
host = "127.0.0.1"
port = 3306
username = "root"
password = "secret"
database = "test"
charset = "utf8mb4"
collection = "utf8mb4_general_ci"
maxOpenConns = 20 # 最大连接数
maxIdleConns = 10 # 最大空闲连接数
connMaxLifetime = 3600 # 连接被复用的最大生命周期，单位：秒

# mysql muilti configs
# [[mysql]]
# name = default
# ...

[mongo]
host = "127.0.0.1"
port = 27017
# username = "test"
# password = "secret"
timeout = 10 # 连接超时时间，单位：秒
poolLimit = 10 # 连接池的连接数

# mongo muilti configs
# [[mongo]]
# name = default
# ...

[redis]
host = "127.0.0.1"
port = 6379
# password = "secret"
# database = 0
connTimeout = 10 # 连接超时时间，单位：秒
readTimeout = 10 # 读取超时时间，单位：秒
writeTimeout = 10 # 写入超时时间，单位：秒
maxActiveConn = 20 # 最大活跃连接数
maxIdleConn = 10 # 最大空闲连接数
maxConnLifetime = 0 # 连接被复用的最大生命周期，单位：秒
idleTimeout = 1800 # 空闲连接的超时时间，单位：秒
testOnBorrow = 60 # 连接健康检查周期，单位：秒
poolWait = false # 连接池无连接时，是否等待连接回池

# redis muilti configs
# [[redis]]
# name = "default"
# ...

[email]
host = "smtp.example.com"
port = 25
username = "yiigo@example.com"
password = "secret"

[spider]
certdir = "certs"
cookiedir = "cookies"

[log]
path = "app.log"
maxSize = 500 # 单位：M
maxBackups = 0 # 最大备份保留数量
maxAge = 0 # 最大备份保留时间，单位：天
compress = false # 备份是否压缩