version: v2
managed:
  enabled: true
  disable:
    - module: buf.build/googleapis/googleapis
      file_option: go_package
    - module: buf.build/bufbuild/protovalidate
      file_option: go_package_prefix
plugins:
  - local: protoc-gen-go
    out: api
    opt: paths=source_relative
  - local: protoc-gen-go-grpc
    out: api
    opt: paths=source_relative,require_unimplemented_servers=false
  - local: protoc-gen-grpc-gateway
    out: api
    opt: paths=source_relative
  - local: protoc-gen-openapiv2
    out: api
    strategy: all
    opt: allow_merge=true,merge_file_name=api,include_package_in_tags=true
inputs:
  - directory: api
    exclude_paths:
      - api/buf
      - api/google
