package router

import (
	"net/http"

	"github.com/go-chi/chi/v5"

	"{{.Module}}/pkg/{{.AppPkg}}/api/controller"
	"{{.Module}}/pkg/{{.AppPkg}}/api/middleware"
	"{{.Module}}/pkg/{{.AppPkg}}/web"
	"{{.Module}}/pkg/lib"
	lib_middleware "{{.Module}}/pkg/lib/middleware"
)

// register app routes
func App(r chi.Router) {
	lib.FileServer(r, "/", http.FS(web.Asserts()))

	// 浏览器访问会主动发送 /favicon.ico 请求
	// r.Get("/favicon.ico", func(w http.ResponseWriter, r *http.Request) {
	// 	http.ServeFile(w, r, "favicon.ico")
	// })

	r.Get("/ping", func(w http.ResponseWriter, r *http.Request) {
		w.Write([]byte("pong"))
	})

	// prometheus metrics
	// r.Method(http.MethodGet, "/metrics", promhttp.Handler())

	r.With(lib_middleware.Log).Group(func(r chi.Router) {
		// v1
		r.Route("/v1", func(r chi.Router) {
			v1(r)
		})
	})
}

func v1(r chi.Router) {
	r.With(middleware.Auth).Group(func(r chi.Router) {
		{
			r.Post("/user/create", controller.DemoCreate)
		}
	})
}
