package greeter

import (
	"context"

	"{{.Module}}/pkg/lib/result"
)

type ReqHello struct {
	Name string `json:"name" valid:"required"`
}

type RespHello struct {
	Message string `json:"message"`
}

func Hello(ctx context.Context, req *ReqHello) result.Result {
	resp := RespHello{
		Message: "Hello " + req.Name,
	}
	return result.OK(result.V(resp))
}
