package cmd

import (
	"context"
	"net/http"
	"os"
	"os/signal"
	"syscall"
	"time"

	"github.com/go-chi/chi/v5"
	chi_middleware "github.com/go-chi/chi/v5/middleware"
	"github.com/rs/cors"
	"github.com/spf13/cobra"
	"github.com/spf13/viper"
	"go.uber.org/zap"

	"{{.Module}}/pkg/{{.AppPkg}}/ent"
	"{{.Module}}/pkg/{{.AppPkg}}/router"
	"{{.Module}}/pkg/lib/log"
	"{{.Module}}/pkg/lib/middleware"
)

var cfgFile string

var cmd = &cobra.Command{
	Use:         "{{.AppName}}",
	Short:       "Go App",
	Long:        "Go App (build with cobra | viper | zap | ent | chi)",
	Annotations: map[string]string{},
	Version:     "v1.0.0",
	PersistentPreRun: func(cmd *cobra.Command, args []string) {
		viper.SetConfigFile(cfgFile)
		if err := viper.ReadInConfig(); err != nil {
			log.Panic(context.Background(), "配置读取失败", zap.Error(err))
		}
		viper.WatchConfig()
		// 初始化
		preInit(context.Background())
	},
	Run: func(cmd *cobra.Command, args []string) {
		// make sure we have a working tempdir in minimal containers, because:
		// os.TempDir(): The directory is neither guaranteed to exist nor have accessible permissions.
		if err := os.MkdirAll(os.TempDir(), 0o775); err != nil {
			log.Error(context.Background(), "Error create temp dir", zap.Error(err))
		}
		serving(context.Background())
	},
}

func preInit(ctx context.Context) {
	// 初始化日志
	log.Init()
	// 初始化数据库
	ent.Init(ctx)
}

// CleanUp 清理资源
func CleanUp() {
	// 关闭数据库连接
	ent.Close()
}

func serving(ctx context.Context) {
	// 创建一个通道来监听信号
	ch := make(chan os.Signal, 1)
	// 监听特定的系统信号
	signal.Notify(ch, syscall.SIGINT, syscall.SIGHUP, syscall.SIGQUIT, syscall.SIGTERM)
	// serving
	go serveHttp(ctx)
	// 处理信号
	sig := <-ch
	log.Warn(context.TODO(), "Received Signal", zap.String("signal", sig.String()))
	// 执行清理操作
	CleanUp()
	// 退出程序
	os.Exit(0)
}

func serveHttp(ctx context.Context) {
	withCors := cors.New(cors.Options{
		// AllowedOrigins:   []string{"*"},
		AllowOriginFunc: func(origin string) bool {
			return true
		},
		AllowedMethods:   []string{http.MethodGet, http.MethodPost, http.MethodPatch, http.MethodPut, http.MethodDelete, http.MethodOptions},
		AllowedHeaders:   []string{"Authorization", "Content-Type", "withCredentials"},
		ExposedHeaders:   []string{log.TraceId}, // 服务器暴露一些自定义的头信息，允许客户端访问
		AllowCredentials: true,
	})

	r := chi.NewRouter()
	r.Use(withCors.Handler, middleware.TraceId, middleware.Recovery)
	r.Mount("/debug", chi_middleware.Profiler())
	// 注册路由
	router.App(r)

	s := &http.Server{
		Addr:         ":" + viper.GetString("app.port"),
		Handler:      r,
		ReadTimeout:  5 * time.Second,
		WriteTimeout: 10 * time.Second,
		IdleTimeout:  10 * time.Second,
	}
	log.Info(ctx, "Serving OK", zap.String("port", s.Addr))
	if err := s.ListenAndServe(); err != nil {
		log.Fatal(context.Background(), "serving error", zap.Error(err))
	}
}
