package demo

import (
	"context"

	"go.uber.org/zap"

	"{{.Module}}/pkg/{{.AppPkg}}/ent"
	"{{.Module}}/pkg/lib/log"
	"{{.Module}}/pkg/lib/result"
)

type ReqCreate struct {
	Title string `json:"title" valid:"required"`
}

func Create(ctx context.Context, req *ReqCreate) result.Result {
	_, err := ent.DB.Demo.Create().
		SetTitle(req.Title).
		Save(ctx)
	if err != nil {
		log.Error(ctx, "Error create demo", zap.Error(err))
		return result.ErrSystem(result.E(err))
	}
	return result.OK()
}
