package cmd

import (
	"context"

	"go.uber.org/zap"

	"{{.Module}}/pkg/lib/log"
)

func Init() {
	// 注册全局参数
	cmd.PersistentFlags().StringVarP(&cfgFile, "config", "C", "config.toml", "设置配置文件")
	// 注册子命令
	cmd.AddCommand(migrateCmd(), helloCmd())
	// 执行命令
	if err := cmd.Execute(); err != nil {
		log.Error(context.Background(), "Error cmd execute", zap.Error(err))
	}
}
