[default]
version=1.0
debug=true
[mysql]
masterHost=localhost
masterPort=3306
slaveHost=localhost
slavePort=3306
database=test
username=root
password=root
charset=utf8mb4
prefix=yii_
[redis]
host=localhost
port=6379
prefix=yii
connectTimeout=0
readTimeout=10000
writeTimeout=10000
poolMinActive=100
poolMaxActive=200
poolIdleTimeout=2000