[default]
version=1.0
debug=true
[mysql]
writeHost=localhost
writePort=3306
readHost=localhost
readPort=3306
database=test
username=root
password=root
charset=utf8mb4
prefix=yii_
[redis]
host=localhost
port=6379
prefix=yii
connectTimeout=10000
readTimeout=10000
writeTimeout=10000
poolMinActive=10
poolMaxActive=20
poolIdleTimeout=2000
[mongo]
host=localhost
port=27017
database=test
poolLimit=100