package util

import (
	"context"

	"github.com/bufbuild/protovalidate-go"
	"go.uber.org/zap"
	"google.golang.org/protobuf/proto"

	"{{.Module}}/pkg/lib/log"
)

var v *protovalidate.Validator

func Init(ctx context.Context) {
	var err error
	v, err = protovalidate.New()
	if err != nil {
		log.Panic(ctx, "Validator初始化失败", zap.Error(err))
	}
}

func Validate(msg proto.Message) error {
	return v.Validate(msg)
}
